@import "tailwindcss";

@theme inline {
  --color-coolvu-dark-blue: #355872;
  --color-coolvu-medium-blue: #7AAACE;
  --color-coolvu-light-blue: #9CD5FF;
  --color-coolvu-off-white: #F7F8F0;

  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-coolvu-off-white);
  color: var(--color-coolvu-dark-blue);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
