@import "tailwindcss";

@theme inline {
  --color-coolvu-dark-blue: #355872;
  --color-coolvu-medium-blue: #7AAACE;
  --color-coolvu-light-blue: #9CD5FF;
  --color-coolvu-off-white: #F7F8F0;

  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-coolvu-off-white);
  color: var(--color-coolvu-dark-blue);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

/* Custom Scrollbar for Modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
